strict-ssl=false
fetch-retries=20
fetch-retry-factor=50
fetch-retry-maxtimeout=120000 # 2min
fetch-retry-mintimeout=10000 # 10sec
fetch-timeout=120000 # 2min
timeout=900000 # 15min
maxsockets=32
prefer-offline=true
audit=false
progress=false
timing=false
