version: "3.9"
services:
    node:
        image: node:16.3.0-alpine
        ports:
            - 3000:3000
        environment: 
            - NODE_ENV=development
            - MONGODB_URI=mongodb://mongo:27017/
            - MONGODB_DB=crisis-news-development
            - MONGODB_USER=root
            - MONGODB_PASS=password

        working_dir: /app
        volumes:
            - ./:/app
        command: sh -c "npm ci && npm run dev"

    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: password
        volumes:
            - mongo_volume:/data/db

    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_SERVER: mongo
            ME_CONFIG_MONGODB_PORT: 27017
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: password
        depends_on:
            - mongo

volumes:
    mongo_volume:
